@font-face {
    font-family: 'mifuente';
    src: url(../Font/Gidole-Regular.ttf) format('truetype');
}
*{
    margin: 0;
    padding: 0;
    
}
body{
    font-family: 'mifuente';
    color: white;
    text-align: center;
    background-image: url(../img/fondo2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}
h1{
    padding:20px;
}
header{
    margin: auto;
    width: 100%;
}
.nav{
    list-style: none;
    text-align: center;
    margin-bottom: 15px;
}
.nav li a{
    text-decoration: none;
    background-color:black;
    color: white;
    display: inline-block;
    padding: 10px 15px;
    
}
.nav li a:hover{
   /* background-color: white;
    color: black; */
    transform: scale(1.3,1.3);
}
.nav li{
    display: inline-block;
}
footer{
    margin-top: 20px;
    background-color: black;
    height: 10%;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    padding-top: 10px;
    align-items: center;

}
footer ul{
     list-style: none;
     display: flex;
     justify-content: flex-end;
     padding-top: 15px;
     gap: 10px;
     padding-right: 20px;
    }
footer ul li{
    display: inline-block;
}
footer li a{
    display: block;
}
footer img{
    height: 30px;
    width: 30px;
}
footer li a:hover{
    transform: scale(1.3,1.3);
}
section{
    background-color:black;
    color: white;
    margin-left: 150px;
    width:550px;
    opacity: 0.5;
    float: left;
    padding: 10px;
    margin-top: 75px;
}
aside{
    background-color: black;
    color: white;
    margin-right: 150px;
    width:550px;
    opacity: 0.5;
    float: right;
    padding: 10px;
    margin-top: 75px;
}